<%= form_for(site_content) do |f| %>
  <% if site_content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(site_content.errors.count, "error") %> prohibited this site_content from being saved:</h2>

      <ul>
      <% site_content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :heading1 %>
    <%= f.text_field :heading1 %>
  </div>

  <div class="field">
    <%= f.label :heading2 %>
    <%= f.text_field :heading2 %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
